.profile__container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;

  width: 875px;
  margin: 84px auto;
}

.profile__fields {
  display: flex;
  flex-direction: column;
  gap: 12px;

  min-width: 600px;
}
