.modal__container {
  pointer-events: none;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  font: var(--regular-font);

  opacity: 0;
  background-color: rgb(0 0 0 / 40%);

  transition: 0.3s ease all;

  &.active {
    pointer-events: auto;

    opacity: 1;
  }
}

.modal__body {
  pointer-events: none;

  position: relative;
  z-index: 10;
  transform: translateY(-50px);

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  max-width: 900px;
  padding: 50px;

  opacity: 0;
  background-color: var(--background-color);
  border: 0;
  border-radius: 10px;

  transition: 0.3s ease all;

  &.active {
    pointer-events: auto;

    transform: translateY(0);

    height: auto;
    max-height: 95vh;

    opacity: 1;
  }
}

.modal__header {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  font: var(--title-font);
  font-size: calc(var(--regular-font-size) * 1.5);
}

.modal__close {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: 40px;
  height: 40px;

  transition: color 0.2s;
}
