@import '../themes/dark';

:root {
  // gradient colors
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27 129 112);
  --link-hover: rgb(24 94 82);
  --medium-pink-color: #d58383;
  --dark-color: #201d0c;
  --brown-color: #793c3b;
  --light-pink-color: #ffefef;
  --background-color: #ffe761;
  --secondary-color: #484848;
  --primary-color: #cf5c36;
  --success-color: #4ab00b;
  --input-color: #fff9c7;
  --text-primary: black;
  --blue-gradient: linear-gradient(
    180deg,
    #5f9fff 0%,
    #65a3ff 20.65%,
    #a3c8ff 20.66%,
    #b6d3ff 52.08%,
    #b6d3ff 80.84%,
    #2f82ff 81.26%,
    #1b75fb 100%
  );
  --red-gradient: linear-gradient(
    180deg,
    #ff5f5f 0%,
    #ff6565 18.81%,
    #ffa3a3 19.01%,
    #ffb6b6 52.08%,
    #ffb6b6 80.84%,
    #ff2f2f 80.85%,
    #fb1b1b 100%
  );
  --gray-gradient: linear-gradient(
    180deg,
    #5b5b5b 0%,
    #5b5b5b 20.65%,
    #969696 20.66%,
    #969696 52.08%,
    #969696 81.09%,
    #5b5b5b 81.1%,
    #5b5b5b 100%
  );

  // app padding
  --padding-top: 110px;
  --padding-bottom: 110px;
  --padding-left: 70px;
  --padding-right: 70px;
  --padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  --m-padding-top: 30px;
  --m-padding-bottom: 30px;
  --m-padding-left: 20px;
  --m-padding-right: 20px;
  --m-padding: var(--m-padding-top) var(--m-padding-right) var(--m-padding-bottom)
    var(--m-padding-left);

  // buttons
  --padding-top-button: 20px;
  --padding-left-button: 80px;
  --m-padding-top-button: 10px;
  --m-padding-left-button: 20px;

  // large
  --large-button-font-size: var(--regular-font-size);
  --large-button-line-height: var(--regular-font-size);
  --large-button-padding: var(--padding-top-button) var(--padding-left-button);

  // m-large
  --m-large-button-font-size: var(--m-regular-font-size);
  --m-large-button-line-height: var(--m-regular-font-size);
  --m-large-button-padding: var(--m-padding-top-button) var(--m-padding-left-button);

  // medium
  --medium-button-font-size: calc(var(--regular-font-size) * 0.8);
  --medium-button-line-height: calc(var(--regular-font-size) * 0.8);
  --medium-button-padding: calc(var(--padding-top-button) * 0.8)
    calc(var(--padding-left-button) * 0.8);

  // m-medium
  --m-medium-button-font-size: calc(var(--m-regular-font-size) * 0.8);
  --m-medium-button-line-height: calc(var(--m-regular-font-size) * 0.8);
  --m-medium-button-padding: calc(var(--m-padding-top-button) * 0.8)
    calc(var(--m-padding-left-button) * 0.8);

  // small
  --small-button-font-size: calc(var(--regular-font-size) * 0.6);
  --small-button-line-height: calc(var(--regular-font-size) * 0.6);
  --small-button-padding: calc(var(--padding-top-button) * 0.6)
    calc(var(--padding-left-button) * 0.6);

  // m-small
  --m-small-button-font-size: calc(var(--m-regular-font-size) * 0.6);
  --m-small-button-line-height: calc(var(--m-regular-font-size) * 0.6);
  --m-small-button-padding: calc(var(--m-padding-top-button) * 0.6)
    calc(var(--m-padding-left-button) * 0.6);

  // inputs
  --padding-top-input: 20px;
  --padding-left-input: 40px;
  --m-padding-top-input: 10px;
  --m-padding-left-input: 40px;

  // fonts
  --font-family: 'VT323';

  // title
  --title-font-size: 96px;
  --title-font-weight: 400;
  --title-line-height: 96px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --title-font: var(--title-font-weight) var(--title-font-size) / var(--title-line-height)
    var(--font-family);

  // main header title
  --main-header-title-font-size: 150px;
  --main-header-title-font-weight: 400;
  --main-header-title-line-height: 165px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --main-header-title-font: var(--main-header-title-font-weight) var(--main-header-title-font-size) /
    var(--main-header-title-line-height) var(--font-family);

  // action block title
  --action-block-title-size: 80px;
  --action-block-title-font-weight: 400;
  --action-block-title-line-height: 80px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --action-block-title-font: var(--action-block-title-font-weight) var(--action-block-title-size) /
    var(--action-block-title-line-height) var(--font-family);

  // regular
  --regular-font-size: 48px;
  --regular-font-weight: 400;
  --regular-line-height: 48px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --regular-font: var(--regular-font-weight) var(--regular-font-size) / var(--regular-line-height)
    var(--font-family);

  // regular-sm
  --regular-sm-font-size: 40px;
  --regular-sm-font-weight: 400;
  --regular-sm-line-height: 40px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --regular-sm-font: var(--regular-sm-font-weight) var(--regular-sm-font-size) /
    var(--regular-sm-line-height) var(--font-family);

  // mobile fonts
  // m-title
  --m-title-font-size: 64px;
  --m-title-font-weight: 400;
  --m-title-line-height: 64px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --m-title-font: var(--m-title-font-weight) var(--m-title-font-size) / var(--m-title-line-height)
    var(--font-family);

  // m-regular
  --m-regular-font-size: 36px;
  --m-regular-font-weight: 400;
  --m-regular-line-height: 36px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --m-regular-font: var(--m-regular-font-weight) var(--m-regular-font-size) /
    var(--m-regular-line-height) var(--font-family);

  // m-regular-sm
  --m-regular-sm-sm-font-size: 28px;
  --m-regular-sm-font-weight: 400;
  --m-regular-sm-line-height: 28px;
  /* stylelint-disable-next-line scss/operator-no-newline-after */
  --m-regular-sm-font: var(--m-regular-sm-font-weight) var(--m-regular-sm-font-size) /
    var(--m-regular-sm-line-height) var(--font-family);

  // light theme
}
