@import 'https://fonts.googleapis.com/css2?family=VT323&display=swap';

.input {
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: baseline;
  justify-content: space-between;

  padding: 4px 24px 8px;

  font-family: 'VT323', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #636671;
  white-space: nowrap;

  border-bottom: 1px solid #201D0C;

  &:hover {
    cursor: text;
  }

  &:focus-within {
    background: rgb(255 255 255 / 30%);
  }
}

.input__value {
  cursor: inherit;

  background: transparent;
  border: none;

  &:focus-visible {
    outline: none;
  }
}
