.layout {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  height: 100vh;
  padding: var(--padding);

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    color: var(--text-primary);
  }
}

.layout__entries {
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  padding: 0 20px;

  color: var(--text-primary);
}

@media screen and (max-width: 768px) {
  .back {
    align-items: flex-start;

    padding-top: calc(
      var(--m-padding-top) + var(--m-title-line-height) / 2 - var(--m-regular-line-height) / 2
    );
    padding-left: calc(var(--m-padding-left));

    svg {
      width: var(--m-regular-line-height);
      height: var(--m-regular-line-height);

      object-fit: contain;
    }
  }

  .layout {
    gap: 20px;

    padding: var(--m-padding);
  }

  .layout__title {
    text-align: end;
  }

  .layout__entries {
    gap: 10px;

    padding: 0;
  }
}
