.layout {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  height: 100vh;
  padding: var(--padding);

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }
}

.layout__entries {
  overflow: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .layout {
    gap: 20px;

    padding: var(--m-padding);
  }

  .layout__title {
    text-align: end;
  }

  .layout__entries {
    gap: 10px;

    padding: 0;
  }
}
