.entry {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;

  width: 100%;
  padding: 15px 30px;

  color: white;

  background: var(--medium-pink-color);
  border: 3px solid var(--dark-color);
  border-radius: 15px;
}

.left_group,
.right_group {
  display: flex;
  flex: 1;
  gap: 30px;
  align-items: center;
}

.left_group {
  span {
    overflow: hidden;
    flex: 1;

    max-width: 200px;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;
  padding: 10px;

  background: var(--light-pink-color);
  border-radius: 75px;
}

.daysActive {
  flex: 1;

  white-space: nowrap;
}

.level {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 75px;
  height: 75px;
  padding: 10px;

  color: var(--dark-color);

  background: var(--light-pink-color);
  border-radius: 75px;
}

.checked {
  color: var(--dark-color);

  background: var(--light-pink-color);

  .level,
  .avatar {
    color: white;

    background: var(--medium-pink-color);
  }
}

@media screen and (max-width: 768px) {
  .entry {
    gap: 20px;

    padding: 5px 10px;
  }

  .left_group,
  .right_group {
    gap: 10px;
  }

  .left_group {
    span {
      max-width: 120px;
    }
  }

  .right_group {
    flex-direction: row-reverse;
  }

  .avatar,
  .level {
    width: 60px;
    height: 60px;
  }

  .daysActive {
    display: none;
  }
}
