$default-color: #fff9c7;
$default-horizontal-padding: 40px;
$default-vertical-padding: 20px;
$m-default-horizontal-padding: 40px;
$m-default-vertical-padding: 10px;
$bg-color: var(--input-color, $default-color);
$horizontal-padding: var(--padding-left-input, $default-horizontal-padding);
$vertical-padding: var(--padding-top-input, $default-vertical-padding);
$m-horizontal-padding: var(--m-padding-left-input, $m-default-horizontal-padding);
$m-vertical-padding: var(--m-padding-top-input, $m-default-vertical-padding);


.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 100%;
  padding: $vertical-padding $horizontal-padding;

  font: var(--regular-font);

  background: $bg-color;
  border: none;
  border-radius: 50px;

  @media screen and (max-width: 768px) {
    .input {
      padding: $m-vertical-padding $m-horizontal-padding;
    
      font: var(--m-regular-sm-font);
    }
  }
}
