.input {
  width: 100%;
  padding: var(--padding-top-input) var(--padding-left-input);

  font: var(--regular-font);

  background-color: var(--input-color);
  border: none;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .input {
    padding: var(--m-padding-top-input) var(--m-padding-left-input);

    font: var(--m-regular-sm-font);
  }
}
