$horizontal-padding: 40px;
$vertical-padding: 20px;
$input-height: 88px;
$default-size: 48px;
$default-color: #fff9c7;
$bg-color: var(--input-color, $default-color);
$font-size: var(--regular-font-size, $default-size);

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 100%;
  height: $input-height;
  padding: $vertical-padding $horizontal-padding;

  
  font-family: unset;
  font-size: $font-size;

  background: $bg-color;
  border: none;
  border-radius: 50px;
}
