.profile__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;

  max-width: 900px;
  height: 100%;
  margin: var(--padding-top) auto 0 auto;
}

.profile__fields {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
  min-width: 600px;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: max-content;
}
