.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 140px;

  color: white;
  text-transform: uppercase;

  background-color: var(--dark-color);
  background-image: url('../../../assets/images/MessagePattern.png');
  background-repeat: repeat;
  background-position-y: 50%;

  h1 {
    overflow: hidden;

    max-width: 1000px;

    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
