.dark {
  --medium-pink-color: #d58383;
  --dark-color: #201d0c;
  --brown-color: #793c3b;
  --light-pink-color: #ffefef;
  --background-color: #252630;
  --secondary-color: #484848;
  --primary-color: #cf5c36;
  --success-color: #4ab00b;
  --input-color: #fff9c7;
}
