.avatar {
  width: 120px;
  height: 120px;

  background-color: var(--light-pink-color);
  border-radius: 100%;

  transition: all 0.2s ease-in;

  &:hover {
    cursor: pointer;

    filter: brightness(0.7);
  }
}
