.signin__container {
  display: flex;
  flex-direction: column;

  padding: 80px;

  text-align: center;
}

.signin__body {
  display: flex;
  flex-direction: row;
  row-gap: 200px;
  justify-content: space-between;

  text-align: center;
}

.signin__title {
  padding-bottom: 80px;

  font: var(--title-font);
  text-align: center;
}

.signin__left__column {
  width: 550px;
}

.signin__right__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 550px;
  padding-top: 80px;
}

.signin__pet__create__mobile {
  display: none;
}

.signin__img {
  width: 450px;
  height: 450px;
  position: relative;
}

.signin__canvas {
  width: 890px;
  height: 890px;
  position: absolute;
  top: -50%;
  left: -30%;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .signin__img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .signin__container {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 30px;
  }

  .signin__body {
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .signin__title {
    display: none;
  }

  .signin__left__column {
    width: 100%;
  }

  .signin__right__column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;

    width: 100%;
    padding-top: 0;
  }

  .signin__img {
    width: 200px;
    padding-bottom: 50px;
  }

  .signin__pet__create {
    display: none;
  }

  .signin__pet__create__mobile {
    display: block;

    padding-top: 10px;
  }
}
