.input {
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: baseline;
  justify-content: space-between;

  padding: 4px 24px 8px;

  font: var(--regular-font);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  color: var(--text-primary);
  white-space: nowrap;

  border-bottom: 1px solid var(--text-primary);

  &:hover {
    cursor: text;
  }

  &:focus-within {
    background: rgb(255 255 255 / 30%);
  }
}

.input__value {
  cursor: inherit;

  width: 100%;

  color: var(--secondary-dark-color);
  text-align: right;

  background: transparent;
  border: none;

  &:focus-visible {
    outline: none;
  }
}
