.link {
  cursor: pointer;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  font: var(--regular-font);
  color: var(--text-primary);
  text-decoration: none;
}

.link__icon {
  width: 50px;
}

.link__container {
  position: relative;

  height: max-content;
}

@media screen and (max-width: 768px) {
  .link {
    font: var(--m-regular-font);
  }

  .link__icon {
    width: 36px;
  }
}
