:root {
  --border-btn-color: #cf5c36;
  --btn-color-red: #cf5c36;
  --btn-color-grey: #484848;
}

.link {
  cursor: pointer;

  font-family: var(--font-family);
  font-size: 100%;
  color: black;
  text-decoration: none;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  margin: 0;
}

.container {
  position: relative;

  height: 40px;
}

.link-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  margin: 0;
}