.not-found {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  &__title {
    font-size: 130px;
  }

  &__image {
    height: 50vh;

    object-fit: contain;
  }

  &__link {
    font-size: var(--m-regular-font-size);
  }
}
