.form {
  display: flex;
  flex-direction: column;
  gap: 66px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__btn {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;
    }
  }
}