$default-fs-l: 96px;
$default-fs-m: 48px;
$default-fs-s: 40px;
$default-c-white: #fff;
$default-c-black: #201d0c;
$fs-s: var(--text-s, $default-fs-s);
$fs-m: var(--text-m, $default-fs-m);
$fs-l: var(--text-l, $default-fs-l);
$c-white: var(--white-color, $default-c-white);
$c-black: var(--black-color, $default-c-black);

.typography {
  &_s {
    font-size: $fs-s;
  }

  &_m {
    font-size: $fs-m;
  }

  &_l {
    font-size: $fs-l;
  }

  &-white {
    color: $c-white;
  }

  &-black {
    color: $c-black;
  }

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_center {
    text-align: center;
  }
}