.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  padding: var(--padding-top-button) var(--padding-left-button);

  font: var(--regular-font);

  border: 0;
  border-radius: 50px;

  transition: all 0.2s;

  &:hover {
    cursor: pointer;

    filter: brightness(1.2);
  }
}

.button-large {
  padding: var(--padding-top-button) var(--padding-left-button);

  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);

  .button_icon {
    height: var(--regular-font-size);
  }
}

.button-medium {
  padding: calc(var(--padding-top-button) * 0.8)
    calc(var(--padding-left-button) * 0.8);

  font-size: calc(var(--regular-font-size) * 0.8);
  line-height: calc(var(--regular-line-height) * 0.8);

  .button_icon {
    height: calc(var(--regular-font-size) * 0.8);
  }
}

.button-small {
  padding: calc(var(--padding-top-button) * 0.6)
    calc(var(--padding-left-button) * 0.6);

  font-size: calc(var(--regular-font-size) * 0.6);
  line-height: calc(var(--regular-line-height) * 0.6);

  .button_icon {
    height: calc(var(--regular-font-size) * 0.6);
  }
}

.button-primary {
  color: #fff;

  background: var(--primary-color);
}

.button-transparent {
  color: #000;

  background: transparent;
}

.button-success {
  color: #fff;

  background: var(--success-color);
}

.button-secondary {
  color: #fff;

  background: var(--secondary-color);
}
