.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  padding: var(--large-button-padding);

  font: var(--regular-font);

  border: 0;
  border-radius: 50px;

  transition: all 0.2s;

  &:hover {
    cursor: pointer;

    filter: brightness(1.2);
  }
}

@media screen and (max-width: 768px) {
  .button {
    padding: var(--m-large-button-padding);

    font: var(--m-regular-font);
  }
}

.button-large {
  font-size: var(--large-button-font-size);
  line-height: var(--large-button-line-height);

  .button_icon {
    height: var(--large-button-font-size);
  }
}

@media screen and (max-width: 768px) {
  .button-large {
    font-size: var(--m-large-button-font-size);
    line-height: var(--m-large-button-line-height);

    .button_icon {
      height: var(--m-large-button-font-size);
    }
  }
}

.button-medium {
  padding: var(--medium-button-padding);

  font-size: var(--medium-button-font-size);
  line-height: var(--medium-button-line-height);

  .button_icon {
    height: var(--medium-button-font-size);
  }
}

@media screen and (max-width: 768px) {
  .button-medium {
    padding: var(--m-medium-button-padding);

    font-size: var(--m-medium-button-font-size);
    line-height: var(--m-medium-button-line-height);

    .button_icon {
      height: var(--m-medium-button-font-size);
    }
  }
}

.button-small {
  padding: var(--small-button-padding);

  font-size: var(--small-button-font-size);
  line-height: var(--small-button-line-height);

  .button_icon {
    height: var(--small-button-font-size);
  }
}

@media screen and (max-width: 768px) {
  .button-small {
    padding: var(--m-small-button-padding);

    font-size: var(--m-small-button-font-size);
    line-height: var(--m-small-button-line-height);

    .button_icon {
      height: var(--m-small-button-font-size);
    }
  }
}

.button-primary {
  color: #fff;

  background: var(--primary-color);
}

.button-transparent {
  color: #000;

  background: transparent;
}

.button-success {
  color: #fff;

  background: var(--success-color);
}

.button-secondary {
  color: #fff;

  background: var(--secondary-color);
}
