$button-height: 88px;
$default-btn-bg-color: #cf5c36;
$btn-bg-color: var(--primary-color, $default-btn-bg-color);

.button {
  cursor: pointer;

  width: 100%;
  height: $button-height;
  
  font-family: unset;

  background: $btn-bg-color;
  border: none;
  border-radius: 50px;


  &:hover {
    opacity: 0.9;
  }
}
