@import 'normalize.css';
@import './variables/global';
@import './themes/dark';

@import 'https://fonts.googleapis.com/css2?family=VT323&display=swap';

body {
  display: flex;
  flex-direction: column;
  
  max-width: 1440px;
  height: 100vh;
  height: fill-available;
  margin: 0 auto;
  
  font: var(--regular-font);
  color: var(--dark-color);
  
  background-color: var(--background-color);
  background-image: url('../../shared/assets/images/fish-pattern-inversed.png');
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  
  font: var(--title-font);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  body {
    font: var(--m-regular-font);
  }

  h1 {
    font: var(--m-title-font);
  }
}