.info-line {
  position: relative;

  width: 310px;
  height: 37px;

  border: 4px solid black;

  &.level {
    background: var(--blue-gradient)
  }

  &.hp {
    background: var(--red-gradient)
  }

  &__empty {
    width: 40%;
    height: 100%;
    margin-left: auto;

    background: var(--gray-gradient)
  }

  &__text {
    position: absolute;
    right: 90%;
    bottom: 35%;

    font:var(--title-font);

    filter: drop-shadow(3px 3px 0 #000);

    &.level {
      background: linear-gradient(180deg, #accdff 0%, #accdff 67.71%, #1f77fb 67.72%, #1f77fb 100%);
      // stylelint-disable-next-line
      -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;
    }

    &.hp {
      background: linear-gradient(180deg, #ffb1b1 0%, #ffb5b5 67.69%, #fd2424 67.7%, #fd2626 100%);
      // stylelint-disable-next-line
      -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;
    }
  }
}
