.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  font-size: 92px;
}

.error__message {
  font-size: 72px;
}

.error__link {
  margin-top: 14px;

  color: var(--secondary-color);

  &:hover {
    color: var(--dark-color);
  }
}
