.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  color: var(--text-primary);
}

.error {
  font-size: var(--title-font-size);
}

.error__message {
  font-size: var(--regular-font-size);
}

.error__link {
  margin-top: 14px;

  &:hover {
    color: var(--dark-color);
  }
}
